
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family:  Florence,cursive;
  font-size: medium;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #191919;
  font-family: monospace;
}

input:focus{
  box-shadow: none;
  border: 1px solid #191919;
}

input:active{
  border: 1px solid #191919;
}