<div>
  <div class="blank-space"></div>
  <div class="row">
    <h1 class="title">Auditores</h1>
  </div>
  <div class="blank-space-sm"></div>
  <div class="row">
    <div class="col-10">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Escribe para buscar">
    </div>
    <div class="col-2">
      <button class="btn-black-alt btn-block shadow"><i class="fa fa-search"></i>buscar</button>
    </div>
  </div>
  <div class="blank-space-sm"></div>
<table id="customers">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Usuario</th>
      <th scope="col">Correo</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios2">
      <td>
          {{usuario.userid}}
      </td>
      <td>       
        {{usuario.nombre}} {{usuario.apellidop}} {{usuario.apellidom}}
      </td>
      <td>
        {{usuario.tipo}}
      </td>
  
      <td>
        {{usuario.username}}
      </td>
      <td>
        {{usuario.email}}     
      </td>
      <td class="d-flex justify-content-around">
        <button (click)='this.editarMono(usuario.userid)' type="button" class="btn btn-outline-success btn-sm">
          Editar
        </button>
        <button (click)='this.eliminarMono(usuario.userid)' type="button" class="btn btn-outline-danger btn-sm">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- Lista de clientes -->
<div>  
  <div class="blank-space"></div>
  <h1 class="title">Clientes</h1>
  <div class="row">
    <div class="col-10">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Escribe para buscar">
    </div>
    <div class="col-2">
      <button class="btn-black-alt btn-block shadow"><i class="fa fa-search"></i>buscar</button>
    </div>
  </div>
  <div class="blank-space-sm"></div>
  <table  id="customers">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Empresa</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let usuario of usuarios">
        <td>
          {{usuario.userid}}
        </td>
        <td> 
          {{usuario.nombre | uppercase}}
        </td>
        <td>
          {{usuario.apellidop | uppercase}}
        </td>
        <td>
          {{usuario.apellidom | uppercase}}
        </td>        
        <td> 
          {{usuario.tipo | uppercase}}
        </td>
        <td>
          {{usuario.username | uppercase}}
        </td>
        <td> 
          {{usuario.email | uppercase}}
        </td>
        <td>
          {{usuario.nombreempresa | uppercase}}
        </td>
        <td>
          <button (click)='this.editarMono(usuario.userid)' type="button" class="btn btn-outline-success btn-sm">
            Editar
          </button>
          <button (click)='this.eliminarMono(usuario.userid)' type="button" class="btn btn-outline-danger btn-sm">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>