
.item{
  margin-bottom: 10px;
  overflow: hidden;
  background: #ffffff;
}

.item-title{
  min-height: 50px;
  background: #191919;
  overflow: hidden;
}

.bg{ background: #191919; }

.btn-black{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  background: transparent;
  border: 2px solid #191919;
  border-radius: 0;
}

.btn-black:hover{
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  background: #191919;
  border: 2px solid #191919;
  border-radius: 0;
}