<div class="blank-space"></div>
<div class="col-12 row d-flex justify-content-between">
  <div class="col-6 col-lg-4 row shadow item no-padding">
    <button [routerLink]="['/Auditor']" routerLinkActive="router-link-active" class="btn btn-black btn-block title">Auditorías</button>
  </div>
  <div class="col-6 col-lg-4 row shadow item no-padding">
    <button class="btn btn-black btn-block title">Empresas</button>
  </div>
  <div class="col-6 col-lg-4 row shadow item no-padding">
    <button class="btn btn-black btn-block title">Usuarios</button>
  </div>
</div>