#customers2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers2 td,#customers2 th{
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  font-family:  Florence,cursive;
  font-size: medium;
}

#customers2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(4, 73, 90);
  color: #17e7d6;
  font-family: monospace;
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family:  Florence,cursive;
    font-size: medium;
  }
  
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  /* #customers tr:hover {background-color: rgb(250, 234, 11);} */
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(4, 73, 90);
    color: #17e7d6;
    font-family: monospace;
  }

  h1 {
    color:  rgb(4, 73, 90);
    font-weight: normal;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
  }